:root {
  --primary-color: #646cff;
  --font-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;

  font-family: monospace;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100dvh;
  line-height: 1.5;
}

a {
  color: var(--font-color);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.picture-wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  will-change: opacity;
}

.picture-wrapper img.done {
  opacity: 1;
  visibility: visible;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
}

.typewriter h1 {
  font-size: smaller;
  margin: 0;
  letter-spacing: 0em;
  text-align: left;
}

.typewriter h1 span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1.5s steps(30, end) forwards;
}

.typewriter h1 span.s1 {
  animation-delay: 0;
}
.typewriter h1 span.s2 {
  animation-delay: 2s;
}
.typewriter h1 span.s3 {
  animation-delay: 4s;
}
.typewriter h1 span.s4 {
  animation-delay: 6s;
}

#about-link {
  text-align: left;
  margin-top: 1em;
}

#about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  display: none;
  place-items: center;
}

#about.shown {
  display: flex;
}

#about .content {
  margin: auto;
  max-width: 700px;
  padding: 2em;
}

#about article p {
  margin: 1em 0;
}

#about article hr {
  margin: 2em 0;
  height: 1px;
  color: var(--font-color);
}

#about-close-btn {
  appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 2.1em;
  height: 2.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  padding: 0;
  margin: 2em;
  border: 1px solid var(--font-color);
  border-radius: 100%;
  background-color: transparent;
  font-size: large;
  cursor: pointer;
  color: var(--font-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --font-color: #213547;
    --bg-color: #ffffff;
    color: var(--font-color);
    background-color: var(--bg-color);
  }

  a {
    color: var(--font-color);
  }
}

@media only screen and (min-width: 768px) {
  .typewriter h1 {
    font-size: medium;
  }
  .footer {
    flex-flow: row;
  }
  #about-link {
    text-align: left;
    margin-top: 0;
  }
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
